@model Product

@{
    ViewData["Title"] = "مشخصات کالای " + Model.Name;
}

<div class="row Box bg-White shadows">

    <h1 class="col-12">@Model.Name</h1>

    <hr class="col-11" />


    <div class="col-7 ">
        <img src="~/images/@(Model.Id).jpg" alt=@Model.Name title=@Model.Name style="width: 100%; height:500px; padding:2%;" />

        <hr />
        <div>
            <h1>@Model.Name</h1>
            <p class="text-justify">@Model.Description</p>
        </div>

    </div>

    <div class="col-3">
        <h3>نمای کلی از این محصول</h3>
        <hr />
        <p>@Model.Name</p>
        <p><span class="text-primary">نام مدرس : </span>@(Model.Teacher.Info.FirstName + " " + Model.Teacher.Info.LastName )</p>
        <p><span class="text-primary">تعداد دانشجویان این دوره : </span>@Model.ProductOtherInfo.NumberOfPurchases</p>
        <p><span class="text-primary">تعداد فیلم ها : </span>@Model.ProductOtherInfo.NumberOfVideos</p>
        <p><span class="text-primary">سطح دوره : </span>@Model.ProductOtherInfo.CourceLevel.ToString()</p>
        <p><span class="text-primary">وضعیت دوره : </span></p>
        <p><span class="text-primary">داشتن بروز رسانی در آینده : </span>@Model.HaveUpdate</p>
        <p><span class="text-primary">تاریخ شروع دوره : </span>@Model.Create.ToLongDateString()</p>
        <p><span class="text-primary">هزینه ی محصول :</span> @Model.Price</p>
        <a class="btn btn-success text-center" style="display:block; padding:10px;vertical-align:middle;">افزودن به سبد خرید  <i class="fas fa-shopping-cart"></i></a>
    </div>

</div>