
@model IEnumerable<ProductDetailViewModel>


<div class="col-12 table-responsive" style="margin:10px 0">

    @if (ViewBag.SuccessAlert != null)
    {
        @if (ViewBag.SuccessAlert == "Success")
        {
            <div class="col-12 alert alert-dismissible alert-success">
                <strong>عملیات ثبت دوره با موفقیت انجام شد</strong>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        }
        else if (ViewBag.SuccessAlert == "Faild")
        {
            <div class="col-12 alert alert-dismissible alert-danger">
                <strong>عملیات ثبت دوره با شکست مواجه شد</strong>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        }
        else if (ViewBag.SuccessAlert == "Suspension")
        {
            <div class="col-12 alert alert-dismissible alert-warning">
                <strong>
                    مدرس گرامی عملیات حذف محصول شما به موفقیت انجام شد و
                    دوره ی فوق در حالت تعلیق قرار گرفت اگر دوره با موفقیت توسط ادمین پذیرفته شود از دسترس خارج می گردد پس صبر کنید ممنون
                </strong>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        }

    }

    <table style="margin:auto;">
        <tr>
            <th>نام دوره</th>
            <th>هزینه ی دوره</th>
            <th>تعداد ثبت نام کنندگان</th>
            <th>وضعیت دوره</th>
            <th style="min-width: 350px;">عملیات</th>
            
        </tr>

        @if (Model.Count() != 0)
        {
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <a asp-area="" asp-controller="Article" asp-action="Detail" asp-route-productId=@item.ProductId asp-route-productName=@item.ProductName
                           style="text-decoration:none;color:black;">
                            <img title=@item.ProductName alt=@item.ProductName src="~/ProductCovers/@item.CoverAddress" style=" min-width:75px;max-width:150px;" />
                            <br />
                            <span>@item.ProductName</span>
                        </a>

                    </td>

                    <td class="Font-number">@(item.Price.ToString() == "0" ? "رایگان" : item.Price.ToString() + " تومان")</td>
                    <td class="Font-number">@item.NumberOfPurchases</td>
                    <td>@item.Status</td>
                    <td style="min-width: 350px;">
                        <a class="btn btn-danger" style="color: #F4F6F7;" onclick="DeleteProductModal(@item.ProductId)">حذف</a>
                        <a asp-area="Teacher" asp-action="EditProductDetail" asp-controller="Home" asp-route-productId=@item.ProductId class="btn btn-warning">ویرایش</a> <a class="btn btn-success" style="color: #F4F6F7;">به روز رسانی دوره</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">شما هیچ دوره ای ندارید</td>
            </tr>
        }
    </table>


</div>

